{% extends 'base.html' %}
{% load static %}

{% block title %}
    Contact page
{% endblock title %}

{% block body %}
<body class="page-3">
{% endblock body %}

{% block h1 %}
<h1>HOW TO CONTACT </h1>
{% endblock h1 %}

{% block content %}
<form action="/contact/" method="POST">
    {% csrf_token %}
    
    <label for='first_name'>First Name: </label> <br>
    {{ form.first_name }} <br><br>

    <label for='last_name'>Last Name: </label> <br>
    {{ form.last_name }} <br><br>
    
    <label for='email'>Email: </label> <br>
    {{ form.email }} <br> <br>

    <label for='topic'>Topic: </label> <br>
    {{ form.topic }} <br><br>

    <label for='message'>Message: </label> <br>
    {{ form.message }} <br><br>

    <label for='response'>Get response via email: </label> <br>
    {{ form.response }} <br> <br>
    
    <button type="reset">Clean form</button>
    <button type="submit">Submit</button>
    
</form>

{% endblock content %}
