{% extends 'base.html' %}
{% load static %}

{% block title %}
    Dr.Gregory House
{% endblock title %}

{% block body %}
<body class='background'>
{% endblock body %}

{% block h1 %}
<h1> SHORT INFO ABOUT DR. GREGORY HOUSE </h1>
{% endblock h1 %}


{% block content %}

<table>

    <tr>
        <td>NAME</td><td class="td2"> {{ data.name }}</td>
    </tr>
    <tr>
        <td>AGE</td><td class="td2">{{ data.age }}</td>
    </tr>
    <tr>
        <td>DATE OF BIRTHDAY</td><td class="td2">{{ data.date_of_birthday }}</td>
    </tr>
    <tr>
        <td>MARITAL STATUS</td><td class="td2">{{ data.marital_status }}</td>
    </tr>
    <tr>
        <td>OCCUPATION</td><td class="td2">{{ data.occupation }}</td>
    </tr>
    <tr>
        <td>STATUS</td><td class="td2">{{ data.status }}</td>
    </tr>
</table>
{% endblock content %}


        


    
